.div {border: 1px}

.header{
border: 1px solid white;}




nav ul {list-style: none;}
a {text-decoration: none;
text-transform: uppercase;}
#head1{
  text-transform: uppercase;
  font-family:Lobster;
}
img{
  max-width: 100%;
}
#head1{
  text-align:center;
}

body,html {
  padding: 10px;
  margin: 25px;
}
.ppp{
  font-family: Merriweather;

}
.a3{
  font-family: Shadows Into Light;

}
.aa{
font-family:  Satisfy;
}
/*font-family: 'Germania One', cursive;
font-family: 'Merriweather', serif;
font-family: 'Lobster', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Satisfy', cursive;*/
